<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/465dd91009.js" crossorigin="anonymous"></script>
    <script src="../buffer.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
    <title>RecruitOn - Results</title>
    <style>

        body,
        html {
            padding: 0;
            margin: 0;
            background: #e6e6e6;
            font-family: 'Barlow Condensed', sans-serif;
        }

        div.dv-lvl-0.recruit-on-header {
            max-width: 1920px;
            width: 100%;
            height: 100px;
            background: #252fc2;
            margin: 0 auto;
            display: flex;
            align-items: center;
            box-shadow: 0px 0px 10px 0px #000;
            z-index: 2;
        }

        div.dv-lvl-0.recruiter-on-body {
            padding: .1px;
            box-shadow: 0px 0px 5px -1px #000;
            max-width: 1920px;
            width: 100%;
            margin: 0 auto;
        }

        div.dv-lvl-1.page-title {
            margin: 40px 5%;
            width: 27%;
            background: #252fc2;
            color: #e6e6e6;
            box-shadow: 0px 2px 10px -6px #000;
        }

        h1.he-lvl-2.page-title-header {
            padding: 20px;
        }

        div.dv-lvl-1.filters-text-container {
            margin: 10px 5%;
            width: 27%;
        }

        p.par-lvl-2.filters-text {
            padding: 10px;
            font-size: 1.3em;
        }

        div.dv-lvl-1.recruit-on-logo {
            margin-left: 30px;
            color: #e6e6e6;
        }

        img.img-lvl-2.recruit-on-img {
            height: 100px;
        }

        p.par-lvl-2.logo-paragraph {
            padding: 0;
            margin: 0;
            padding-bottom: .2em;
            letter-spacing: .4em;
        }

        div.dv-lvl-1.recruiter-result-header {
            width: 80%;
            background: #fff;
            margin: 40px auto;
            box-shadow: 0px 0px 10px -5px #000;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
        }

        div.dv-lvl-2.recruiter-result-button-wrapper {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 20px;
        }

        div.dv-lvl-2.recruiter-result-status-wrapper {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 20px;
            margin-top: 0;
            color: #60d233;
            display: none;
        }

        div.enabled-by-city,
        div.enabled-by-salary,
        div.enabled-by-qualification {
            opacity: 0;
        }

        button.by-city {
            width: 120px;
            display: block;
            padding: .7em;
            background: #b43a3a;
            color: #e6e6e6;
            border: none;
            box-shadow: 0px 0px 3px 2px #ba6868;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 14px;
        }

        button.by-city:hover {
            background: #c18282;
        }

        button.by-city:active {
            outline: none;
            border: none;
            outline-offset: none;
            background: #8c1a1a;
            box-shadow: 0px 0px 4px 3px #632e2e;
        }

        button.by-city:focus {
            border: none;
            outline: none;
            outline-offset: none;
            background: #8c1a1a;
        }

        button.by-salary {
            width: 120px;
            display: block;
            padding: .7em;
            background: #b43a3a;
            color: #e6e6e6;
            border: none;
            box-shadow: 0px 0px 3px 2px #ba6868;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 14px;
        }

        button.by-salary:hover {
            background: #c18282;
        }

        button.by-salary:active {
            outline: none;
            border: none;
            outline-offset: none;
            background: #8c1a1a;
            box-shadow: 0px 0px 4px 3px #632e2e;
        }

        button.by-salary:focus {
            border: none;
            outline: none;
            outline-offset: none;
            background: #8c1a1a;
        }

        button.by-qualification {
            width: 120px;
            display: block;
            padding: .7em;
            background: #b43a3a;
            color: #e6e6e6;
            border: none;
            box-shadow: 0px 0px 3px 2px #ba6868;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 14px;
        }

        button.by-qualification:hover {
            background: #c18282;

        }

        button.by-qualification:active {
            outline: none;
            border: none;
            outline-offset: none;
            background: #8c1a1a;
            box-shadow: 0px 0px 4px 3px #632e2e;
        }

        button.by-qualification:focus {
            border: none;
            outline: none;
            outline-offset: none;
            background: #8c1a1a;
        }

        div.dv-lvl-1.recruiter-result-banner {
            height: 50px;
            width: 90%;
            max-width: 1920px;
            background: #fff;
            box-shadow: 0px 2px 10px -6px #000;
            display: flex;
            align-items: center;
            margin: 0 auto;
        }

        div.dv-lvl-1.recruiter-result-banner p {
            margin-left: 30px;
        }

        div.dv-lvl-1.recruiter-result-items-container {
            max-width: 1920px;
            width: 100%;
            margin: 0 auto 40px auto;
        }

        h2.he-lvl-2.recruiter-city-item-header {
            max-width: 1920px;
            background: #fff;
            box-shadow: 0px 2px 10px -6px #000;
            padding: 20px;
            text-transform: uppercase;
            font-size: 1.1em;
            letter-spacing: .5em;
            margin: 40px 5%;
            width: 27%;
            background: #252fc2;
            color: #e6e6e6;
        }

        div.dv-lvl-2.recruiter-result-item {
            width: 90%;
            margin: 40px auto;
            background: #fff;
            box-shadow: 0px 2px 10px -6px #000;
            display: flex;
        }

        div.dv-lvl-2.show-in-map {
            width: 29%;
            box-shadow: 0px 2px 10px -6px #000;
            display: flex;
            margin-left: 5%;
            align-items: center;
            justify-content: center;
            height: 100px;
            background: #dadcff;
        }

        div.dv-lvl-2.map-container {
            width: 90%;
            margin: 40px auto;
            background: #efc8c8;
            box-shadow: 0px 2px 10px -6px #000;
            display: flex;
            height: 600px;
        }

        div.dv-lvl-2.show-in-map:hover {
            background: #c1c4ff;
            cursor: pointer;
        }

        div.dv-lvl-2.show-in-map p {
            font-size: 1.6em;
            margin-right: 10px;
            text-transform: uppercase;
            color: #555eff;
        }

        div.dv-lvl-2.show-in-map i {
            font-size: 2em;
            color: #555eff;
        }

        div.dv-lvl-3.recruiter-result-item-info {
            width: 80%;
        }

        div.dv-lvl-3.recruiter-result-item-qualification {
            width: 20%;
        }

        div.dv-lvl-3.recruiter-result-item-qualification.green {
            background: linear-gradient(90deg, #c2e9b3, #54cf23);
        }

        div.dv-lvl-3.recruiter-result-item-qualification.yellow {
            background: linear-gradient(90deg, #fffbc6, #eae40b);
        }

        div.dv-lvl-3.recruiter-result-item-qualification.red {
            background: linear-gradient(90deg, #da9f8d, #d41010);
        }

        div.dv-lvl-3.recruiter-result-item-qualification {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap;
        }

        div.dv-lvl-4.recruiter-result-item-info-data-row {
            margin: 20px 20px;
            display: flex;
        }

        p.p-name {
            margin-right: 180px;
        }

        p.p-mail {
            margin-right: 180px;
        }

        p.p-age {
            margin-right: 180px;
        }

        p.p-qualification {
            text-align: center;
        }






    </style>
</head>
<body>

    <div class="main-container">
        <div class="dv-lvl-0 recruit-on-header">
            <div class="dv-lvl-1 recruit-on-logo">
                <img class="img-lvl-2 recruit-on-img" src="../RecruitOn-logo.jpg">
            </div>
        </div>

        <div class="dv-lvl-0 recruiter-on-body">

            <div class="dv-lvl-1 page-title">
                <h1 class="he-lvl-2 page-title-header">RESULTS</h1>
            </div>

            <div class="dv-lvl-1 filters-text-container">
                <p class="par-lvl-2 filters-text">You can apply filters here: </p>
            </div>

            <div class="dv-lvl-1 recruiter-result-header">
                <div class="dv-lvl-2 recruiter-result-button-wrapper">
                    <button class="by-city">By City</button>
                    <button class="by-salary">By Salary</button>
                    <button class="by-qualification">By Qualification</button>
                </div>
                <div class="dv-lvl-2 recruiter-result-status-wrapper">
                    <div class="dv-lvl-3 enabled-by-city">[ ENABLED ]</div>
                    <div class="dv-lvl-3 enabled-by-salary">[ ENABLED ]</div>
                    <div class="dv-lvl-3 enabled-by-qualification">[ ENABLED ]</div>
                </div>
            </div>

            <div class="dv-lvl-1 recruiter-result-banner">
                <p>Showing results: unordered</p>
            </div>

            <div class="dv-lvl-1 recruiter-result-items-container">

                {{#if data }}
                   {{#each data}}

                   <div class="dv-lvl-2 recruiter-result-item">
                        <div class="dv-lvl-3 recruiter-result-item-info">

                            <div class="dv-lvl-4 recruiter-result-item-info-data-row">
                                <p class="p-name"><span class="tag">NAME:</span> {{ this.name }}</p>
                                <p class="p-surname"><span class="tag">SURNAME:</span> {{ this.surname }}</p>
                            </div>

                            <div class="dv-lvl-4 recruiter-result-item-info-data-row">
                                <p class="p-mail"><span class="tag">EMAIL:</span> {{ this.mail }}</p>
                                <p class="p-phone"><span class="tag">PHONE:</span> {{ this.phone }}</p>
                            </div>

                            <div class="dv-lvl-4 recruiter-result-item-info-data-row">
                                <p class="p-age"><span class="tag">AGE:</span> {{ this.age }}</p>
                                <p class="p-salary"><span class="tag">SALARY:</span> {{ this.salary }}</p>
                            </div>

                        </div>
                        
                        <div class="dv-lvl-3 recruiter-result-item-qualification">
                            <p class="qualification">QUALIFICATION</p>
                            <p class="p-qualification">{{ this.qualification }}</p>
                        </div>
                    </div>

                    <div class="dv-lvl-2 show-in-map r-{{ this.id }}">
                        <p>Show in map</p>
                        <i class="fas fa-map"></i>
                    </div>

                    {{/each}}

                {{/if}}



            </div>

        </div>


    </div>

    <script>


        /*

            Usage of lastSavedState in order

            1. Declared
            2. handleFilterClick
            3. showInMapButton
            4. onpopstate
            5. onbeforeunload

            Flow




        */

        const navigation = window.performance.navigation.type;
        let pageReloaded = false;
        console.log(window.history.state);
        if (navigation === 1 && window.history.state && window.history.state.page) {

            console.log('Reseting');
            pageReloaded = true;
            window.history.go(-(window.history.state.page + 1));
        }

        let state = localStorage.getItem('pageStatus');
        //const navigation = window.performance.navigation.type;
        console.log('Navigation access method');
        console.log(window.performance.navigation.type);
     //   console.log('Page status');
     //   console.log(state);

        /*
        if (!state || navigation === 1) {
            let pageStateLimit = window.history.state ? window.history.state.page: null;
            console.log('State on nav 1');
            console.log(state);

            if (pageStateLimit) {

                if (state && JSON.parse(state).hasOwnProperty('previousStates')) {
                    state = JSON.parse(state);
                    if (state.hasOwnProperty('adjustHistoryLength')) {
                        console.log('Setting less length for history length');
                        pageStateLimit -= 2;
                    }
                } 

                console.log(pageStateLimit);
                console.log('Clearing browser history');
                window.history.go(-(pageStateLimit));
               

            }

        }
        */

        // Functions declarations

        // Get filter current status
        const getEnabledFilters = () => {   
            return {
                city: byCitySelected,
                salary: bySalarySelected,
                qualification: byQualificationSelected
            };
        }

        // Controls dynamic changes on status panel
        const handleStatusIndicatorsStatus = () => {

            if (byCitySelected || bySalarySelected || byQualificationSelected) {
                statusIndicatorsContainer.style.display = 'flex';
                buttonAndStatusContainer.style.marginBottom = '5px';
            } else {
                statusIndicatorsContainer.style.display = 'none';
                buttonAndStatusContainer.style.marginBottom = '20px';
            }

            if (byCitySelected) enabledCity.style.opacity = '1'; else enabledCity.style.opacity = '0';
            if (bySalarySelected) enabledSalary.style.opacity = '1'; else enabledSalary.style.opacity = '0';
            if (byQualificationSelected) enabledQualification.style.opacity = '1'; else enabledQualification.style.opacity = '0';
            
        }

        // Executes filtering request
        const triggerFilterRequest = () => {

            let xmlHttpRequest;

            if (window.XMLHttpRequest) {
                xmlHttpRequest = new XMLHttpRequest();
            } else if (window.ActiveXObject) {
                xmlHttpRequest = new ActiveXObject("Microsoft.XMLHTTP");
            }

            let filters;
            xmlHttpRequest.onreadystatechange = () => {
                filters = {
                    'city' : byCitySelected,
                    'salary': bySalarySelected,
                    'qualification': byQualificationSelected
                };
            };

            xmlHttpRequest.open('POST', '/file-manager/render', true);

            if (xmlHttpRequest.readyState > 0) {
                xmlHttpRequest.setRequestHeader('Content-Type', 'application/json');
            }

            xmlHttpRequest.send(JSON.stringify(filters));

            xmlHttpRequest.onload = () => {
                if (xmlHttpRequest.readyState === 4 && xmlHttpRequest.status === 201) {
                    const response = JSON.parse(xmlHttpRequest.responseText);

                    // Global variables for html generation
                    let container = document.querySelectorAll('div.dv-lvl-1.recruiter-result-items-container')[0];;
                    let lastCity;
                    let infoModelItemNode = document.querySelectorAll('div.dv-lvl-2.recruiter-result-item')[0];
                    let modeAndQuantityIndicator = document.querySelectorAll('div.dv-lvl-1.recruiter-result-banner p')[0];
                    let quantity = document.querySelectorAll('div.dv-lvl-2.recruiter-result-item').length;

                    // Switch for selecting the filtering mode
                    
                    // 1. city
                    // 2. city/salary
                    // 3. city/qualification
                    // 4. salary
                    // 5. qualification
                    // 6. initial
                    switch (response.mode) {
                        case 'city':

                            clearContainerAndSetStatusIndicator(container, modeAndQuantityIndicator, quantity, response.mode);
                            lastCity = 'none';

                            for (const candidate of response.object) {
                                if (candidate.city !== lastCity) {
                                    container.innerHTML += "<h2 class=\"he-lvl-2 recruiter-city-item-header\">" + candidate.city + "</h2>";
                                }

                                const newInfoItem = setNewCandidateBox(container, infoModelItemNode, candidate);
                                const showMapNode = setNewShowMapButton(showInMapButtons, candidate);

                                container.appendChild(newInfoItem);
                                container.appendChild(showMapNode);

                                lastCity = candidate.city;
                            }
                            break;
                        case 'city/salary':

                            clearContainerAndSetStatusIndicator(container, modeAndQuantityIndicator, quantity, response.mode);

                            for (const cityCandidates of response.object) {

                                let currentCity = Object.keys(cityCandidates).toString();
                                container.innerHTML += "<h2 class=\"he-lvl-2 recruiter-city-item-header\">" + currentCity + "</h2>";

                                for (const cityCandidate of cityCandidates[currentCity]) {
                                    const newInfoItem = setNewCandidateBox(container, infoModelItemNode, cityCandidate);
                                    const showMapNode = setNewShowMapButton(showInMapButtons, cityCandidate);

                                    container.appendChild(newInfoItem);
                                    container.appendChild(showMapNode);
                                }

                            }
                            break;
                        case 'city/qualification':

                            clearContainerAndSetStatusIndicator(container, modeAndQuantityIndicator, quantity, response.mode);

                            for (const cityCandidates of response.object) {

                                let currentCity = Object.keys(cityCandidates).toString();
                                container.innerHTML += "<h2 class=\"he-lvl-2 recruiter-city-item-header\">" + currentCity + "</h2>";

                                for (const cityCandidate of cityCandidates[currentCity]) {
                                    const newInfoItem = setNewCandidateBox(container, infoModelItemNode, cityCandidate);
                                    const showMapNode = setNewShowMapButton(showInMapButtons, cityCandidate);

                                    container.appendChild(newInfoItem);
                                    container.appendChild(showMapNode);
                                }
                            }
                            break;
                        case 'salary':
                        case 'qualification':
                        case 'initial':

                            clearContainerAndSetStatusIndicator(container, modeAndQuantityIndicator, quantity, response.mode);

                            for (const candidate of response.object) {
                                const newInfoItem = setNewCandidateBox(container, infoModelItemNode, candidate);
                                const showMapNode = setNewShowMapButton(showInMapButtons, candidate);

                                container.appendChild(newInfoItem);
                                container.appendChild(showMapNode);
                            }

                            break;

                        default:
                            console.log('No filters selected');  
                            break;
                    }
                    showInMapButtons = document.querySelectorAll('div.dv-lvl-2.show-in-map');
                    setOnShowMapClickEvents();

                }
            }

        };

        // Handles actions on clicks
        const handleFilterClick = (e) => {

            // lastSavedState > 0 means filter has been clicked before and user is navigating through history
            // lastSavedState === 0 is initial state when page loads for the first time
            // lastSavedState === -1 means user has navigated to root history level (window.history.state === null), which means it will replace state on page 1
            /*
            if (lastSavedState > 0 && lastSavedState < previousStates.length - 1 || lastSavedState === -1 && previousStates.length > 1) {
                console.log('Replacing state on click');

                if (lastSavedState === -1) {
                    console.log('Last saved state was: 0. Saving next');
                } else {
                    console.log('Last saved state was: ' + lastSavedState + '. Saving next');
                }

                // Workaround to force normal behavior
                window.history.go(1);
                historyOp = 'replace';
            } else {
                console.log('Pushing new state on click');
                window.history.pushState({ page: previousStates.length }, 'results-interaction-' + previousStates.length, '/file-manager/generate');
                historyOp = 'regular';
            }
            */

            if (indexLimitWhenHistoryLoaded > 0) {
                clickedWithHistoryLoaded = true; 
            }

            const initialStatesKeys = initialStates.states.map((state, index) => index);
            console.log(initialStatesKeys);
            console.log(initialStatesKeys.includes(window.history.state && window.history.state.page ? window.history.state.page : 1000));
            if (window.history.state && window.history.state.page && initialStatesKeys.includes(window.history.state.page)) {
                console.log('Hey, this state is part of the initial ones. We do not apply the index limit here');
            }

            indexForHistory = window.history.state && window.history.state.page !== null ? window.history.state.page : -1;
            console.log('Index: ' + indexForHistory);
            console.log('Previous states length: ' + previousStates.length);
            console.log(previousStates.length - indexForHistory);

            if (clickedWithHistoryLoaded && !window.history.state) {
                indexForHistory = indexLimitWhenHistoryLoaded;
            }   

            // Problem: when going back, this difference between previousStates.length and index exists and tries to replace
            // That's why above we set indexForHistory to array.length and this causes another problem: when going back, it pushes instead of replacing

            // We can store an initial states array with the ones set on the first page and apart from this, the total, which would be previous states
            // If history contains a state that is one of the indexes on the initial array, we don't apply the indexLimit. Otherwise, we do it.
            // But there is a problem here: if we set when showing a map, then is set everytime the show map button is clicked, thus updating. We don't want that

            // An idea to fix this:
            // Set a global variable which sets { states: previousStates, update: true } or the same object coming from localStorage, with update set to false,
            // so it is not updated again. This property can be named initialStates. This way, first page saves the initial states, otherwise it doesn't.

            // So pageStatus object would be like:
            /*
                pageStates = {
                    previousStates: previousStates,
                    initialStates: {
                        states: previousStates,
                        update: false
                    }
                }

            */

            if ((previousStates.length - indexForHistory) > 1) {
                // Replacing
                console.log('Replacing existing state')
                indexForHistory++;
                window.history.forward();
                
                // Rest of the code need to be done on onpopstate event: page state is not updated yet, so value is not correct
                historyOp = 'replace';
            } else {
                // Pushing
                console.log('Pushing new state on click');
                indexForHistory = previousStates.length;
                window.history.pushState({ page: indexForHistory }, 'results-interaction-' + indexForHistory, '/file-manager/generate');
                historyOp = 'regular';
            }
            
            firstLoading = false;

            const buttonKeys = ['city', 'salary', 'qualification'];

            buttonKeys.forEach(currentKey => {
                if (e.target.className.indexOf('city') > -1) {
                    byCitySelected = !byCitySelected;
                }

                if (e.target.className.indexOf('salary') > -1) {
                    bySalarySelected = !bySalarySelected;
                    byQualificationSelected = false;
                }

                if (e.target.className.indexOf('qualification') > -1) {
                    byQualificationSelected = !byQualificationSelected;
                    bySalarySelected = false;
                }
            });

            // Compute current state storage after applying new values for filters
            // If lastSavedState is 0 (user has not navigated yet) or lastSavedState reaches the last record, new record is pushed

            /*
            if (lastSavedState === 0 || (lastSavedState > 0 && lastSavedState === previousStates.length - 1)) {
                console.log('Saving current filters');
                previousStates.push(getEnabledFilters());
                // lastSavedState !== 0 (only gets changed when navigating back in history)
                if (lastSavedState !== 0) {
                    lastSavedState++;
                }
            } else {

                // Reset when reaching base level
                if (lastSavedState === -1) {
                    lastSavedState = 0;
                }

                // lastSavedState always get higher here, as it is clicking and advancing on states
                lastSavedState++;
                console.log('Replacing value of previousStates array on index ' + lastSavedState);
                previousStates[lastSavedState] = getEnabledFilters();
                console.log('New values for this index are:');
                console.log(previousStates[lastSavedState]);
            }
            */

            switch (historyOp) {
                case 'regular': 
                    previousStates.push(getEnabledFilters());
                    break;
                case 'replace': 
                    previousStates[indexForHistory] = getEnabledFilters();
                    break;
            }
            
            handleStatusIndicatorsStatus();
            triggerFilterRequest();
        };

        // Controls qualification panel color changes
        const handleQualificationColor = (qualification, element) => {
            if (parseInt(qualification) >= 8) {
                if (element.classList.value.match(/\s?(green|red|yellow){1,}/g,)) {
                    const textToReplace = element.classList.value.match(/\s?(green|red|yellow){1,}/g,).toString();
                    element.classList.remove(textToReplace.trim());
                }
                element.classList.add('green');
            } else if (parseInt(qualification) >= 5 && parseInt(qualification) < 8) {
                if (element.classList.value.match(/\s?(green|red|yellow){1,}/g,)) {
                    const textToReplace = element.classList.value.match(/\s?(green|red|yellow){1,}/g,).toString();
                    element.classList.remove(textToReplace.trim());
                }
                element.classList.add('yellow');
            } else {
                if (element.classList.value.match(/\s?(green|red|yellow){1,}/g,)) {
                    const textToReplace = element.classList.value.match(/\s?(green|red|yellow){1,}/g,).toString();
                    element.classList.remove(textToReplace.trim());
                }
                element.classList.add('red');
            }
        }

        // Set the actions to be triggered on clicks events
        const setOnShowMapClickEvents = () => {

            showInMapButtons.forEach(showInMapButton => {
                showInMapButton.onclick = (e) => {

                    let clickedButtonClassName = e.path.find(element => element.className.startsWith('dv-lvl-2 show-in-map')).className;
                    let userId = parseInt(clickedButtonClassName.split('r-')[1]);

                    // Handle here also state if it needs to be replaced/added (lastSavedState < previousStates.length - 1 or not)

                    if (initialStates.update) {
                        initialStates.states = previousStates;
                        initialStates.update = false;
                    }

                    localStorage.setItem('pageStatus', JSON.stringify({
                        previousStates: previousStates,
                        initialStates: initialStates
                        //lastSavedState: lastSavedState > 0 ? lastSavedState : previousStates.length - 1
                    }));

                    window.location = '/file-manager/map/' + userId;

                };
            });
        }

        // Clears full container and set status indicator on each filtering
        const clearContainerAndSetStatusIndicator = (container, indicator, quantity, responseMode) => {
            
            if (responseMode.indexOf('/') > -1) {
                responseMode = responseMode.replace('/', ' and ');
            }

            container.innerHTML = '';

            if (responseMode !== 'initial') {
                indicator.innerText = 'Showing results: ' + quantity + '. Ordered by ' + responseMode;
            } else {
                indicator.innerText = 'Showing results: unordered';
            }
            
        }

        // Sets the content for each candidate info panel when filtering
        const setNewCandidateBox = (container, infoModelItemNode, candidate) => {
            let newInfoItem = document.createElement("div")
            newInfoItem.className = infoModelItemNode.className + ' city-filtered-' + candidate.id;
            newInfoItem.innerHTML = infoModelItemNode.innerHTML;
            let nameNode = newInfoItem.querySelectorAll('div.' + newInfoItem.className.replace(/\s/g, ".") + ' p.p-name')[0];
            let surnameNode = newInfoItem.querySelectorAll('div.' + newInfoItem.className.replace(/\s/g, ".") + ' p.p-surname')[0];
            let emailNode = newInfoItem.querySelectorAll('div.' + newInfoItem.className.replace(/\s/g, ".") + ' p.p-mail')[0];
            let phoneNode = newInfoItem.querySelectorAll('div.' + newInfoItem.className.replace(/\s/g, ".") + ' p.p-phone')[0];
            let ageNode = newInfoItem.querySelectorAll('div.' + newInfoItem.className.replace(/\s/g, ".") + ' p.p-age')[0];
            let salaryNode = newInfoItem.querySelectorAll('div.' + newInfoItem.className.replace(/\s/g, ".") + ' p.p-salary')[0];
            let qualificationNode = newInfoItem.querySelectorAll('div.' + newInfoItem.className.replace(/\s/g, ".") + ' p.p-qualification')[0];
            
            const cityClassNameRegExpString = newInfoItem.className.match(/([\s]?city-filtered-[0-9]){1,}/g).toString();
            newInfoItem.className = newInfoItem.className.replaceAll(new RegExp(cityClassNameRegExpString, 'g'), '');

            nameNode.innerText = nameNode.innerText.substring(0, nameNode.innerText.indexOf(' ')) + ' ' + candidate.name;
            surnameNode.innerText = surnameNode.innerText.substring(0, surnameNode.innerText.indexOf(' ')) + ' ' + candidate.surname;
            emailNode.innerText = emailNode.innerText.substring(0, emailNode.innerText.indexOf(' ')) + ' ' + candidate.mail;
            phoneNode.innerText = phoneNode.innerText.substring(0, phoneNode.innerText.indexOf(' ')) + ' ' + candidate.phone;
            ageNode.innerText = ageNode.innerText.substring(0, ageNode.innerText.indexOf(' ')) + ' ' + candidate.age;
            salaryNode.innerText = salaryNode.innerText.substring(0, salaryNode.innerText.indexOf(' ')) + ' ' + candidate.salary;
            qualificationNode.innerText = candidate.qualification;

            handleQualificationColor(candidate.qualification, qualificationNode.parentElement);

            return newInfoItem;
        }

        // Sets the button to current candidate map when filtering
        const setNewShowMapButton = (showInMapButtons, candidate) => {
            let showMapIndex = 0;
            showInMapButtons.forEach(
                (currentShowMapNode, index) => {
                    if (candidate.id === parseInt(currentShowMapNode.className.split('r-')[1])) {
                        showMapIndex = index;
                    }
                });
            let showMapNode = showInMapButtons[showMapIndex];
            return showMapNode;
        }

        // Ads 10 length aleatory hash to base64 encoded cookie
        const addAleatoryHash = () => {
            let hash = '';

            const options = {
                numbers : {
                    min: 48,
                    max: 58
                },
                upper: {
                    min: 65,
                    max: 91
                },
                lower: {
                    min: 97,
                    max: 123
                }
            };


            for (let i = 0; i < 10; i++) {
                const chars = ['numbers', 'upper', 'lower'];
                let index = Math.floor(Math.random() * 3);
                let max = options[chars[index]].max; 
                let min = options[chars[index]].min;
                let asciiCode = Math.floor(Math.random() * (max - min) + min);
                let nextChar = String.fromCharCode(asciiCode);
                hash += nextChar;
            }
            return hash;
        }

        // Sets the cookie to authorize request
        const setSecurityCookie = () => {

            let payload = 'encodedhere' + addAleatoryHash();
            var currentTime = new Date();
            let newDate = currentTime.setSeconds(currentTime.getSeconds() + 2);
            let newDateObject = new Date(newDate);
            document.cookie = '_p=' + payload + ';' + 'expires=' + newDateObject.toGMTString();
        }

        // Set the previous states when going back on history   
        const setPreviousStates = () => {
            console.log('Setting previous states');
            
            if (previousStates && previousStates.length > 0) {

                /*
                if (previousStates[previousStates.length - 1].hasOwnProperty('userId')) {
                    let lastFilteredState = previousStates[previousStates.length - 2];
                    byCitySelected = lastFilteredState.city;
                    bySalarySelected = lastFilteredState.salary;
                    byQualificationSelected = lastFilteredState.qualification;
                    handleStatusIndicatorsStatus();
                } else {
                    let lastFilteredState = previousStates[previousStates.length - 1];
                    byCitySelected = lastFilteredState.city;
                    bySalarySelected = lastFilteredState.salary;
                    byQualificationSelected = lastFilteredState.qualification;
                    //previousStates = previousStates.slice(0, previousStates.length - 1);
                    handleStatusIndicatorsStatus();
                }
                */

                //let lastFilteredState = previousStates[previousStates.length - 1];
                let lastFilteredState = window.history.state && window.history.state.page ? previousStates[window.history.state.page] : previousStates[previousStates.length - 1];
                byCitySelected = lastFilteredState.city;
                bySalarySelected = lastFilteredState.salary;
                byQualificationSelected = lastFilteredState.qualification;
                handleStatusIndicatorsStatus();

            } else {
                handleStatusIndicatorsStatus();
            }
            
        }

        // Set the color for qualifications on first load
        const setQualificationPanelsColors = () => {
            if (firstLoading) {
                const currentItems = document.querySelectorAll('div.dv-lvl-2.recruiter-result-item');
                for (const candidate of currentItems) {
                    const qualificationBackgroundNode = candidate.querySelectorAll('div.dv-lvl-3.recruiter-result-item-qualification')[0];
                    const qualification = candidate.querySelectorAll('p.p-qualification')[0].innerText;
                    handleQualificationColor(qualification, qualificationBackgroundNode);
                }
            } 
        }

        // Bind actions to be triggered on filters clicks
        const bindActionsToEvents = () => { 
            if (byCityButton && bySalaryButton && byQualificationButton) {
                byCityButton.onclick = (e) => handleFilterClick(e);
                bySalaryButton.onclick = (e) => handleFilterClick(e);
                byQualificationButton.onclick = (e) => handleFilterClick(e);
            } else {
                throw new Error('Error with buttons. Check structure');
            }
        }

        // Inits whole process
        const init = () => {
            bindActionsToEvents();
            setPreviousStates();
            setQualificationPanelsColors();
            setOnShowMapClickEvents();
        }

        // Script and global variables declaration

        // Clean security cookie
        document.cookie = "_p= ; expires = Thu, 01 Jan 1970 00:00:00 GMT";

        // Global variables
        let requestedStateIndex = 0;
        //let lastSavedState = 0;
        let historyOp = '';
        let previousStates = [];
        let initialStates = { states: [], update: true };
        let historyFiltered = false;
        let firstLoading = true;
        let indexLimitWhenHistoryLoaded = 0;
        let clickedWithHistoryLoaded = false;
        let indexForHistory;

        let byCitySelected = false;
        let bySalarySelected = false;
        let byQualificationSelected = false;

        let history = localStorage.getItem('pageStatus');
        localStorage.removeItem('pageStatus');

        // History management
        if (history !== null && history !== undefined) {
            history = JSON.parse(history);
            previousStates = !pageReloaded ? history.previousStates : [];
            initialStates = !pageReloaded ? history.initialStates : initialStates;
            indexLimitWhenHistoryLoaded = previousStates.length;
            //lastSavedState = history && history.hasOwnProperty('lastSavedState') ? history.lastSavedState : 0;
            console.log(history);
            let index = 1;

            console.log('Showing previous states: ');
            console.log(previousStates);


            /*
            for (const previousState of previousStates) {

                if (previousState.hasOwnProperty('city') || previousState.hasOwnProperty('salary') || previousState.hasOwnProperty('qualification')) {
                    console.log('Populating history with filters');
                    window.history.replaceState({ page: index }, 'results-interaction-' + index, '/file-manager/generate');
                    index++;
                } else {
                    console.log('Populating history with user id for map');
                    window.history.replaceState({ page: index }, 'maps-interaction-' + index, '/file-manager/map/' + previousState.userId);
                    index++;
                }
        
            }

            console.log('Last object on history to restore url');   
            window.history.replaceState({ page: index }, null, '/file-manager/generate'); 
            */
        }

        // Original buttons for filters
        const byCityButton = document.querySelectorAll('button.by-city')[0];
        const bySalaryButton = document.querySelectorAll('button.by-salary')[0];
        const byQualificationButton = document.querySelectorAll('button.by-qualification')[0];

        // Show map buttons
        let showInMapButtons = document.querySelectorAll('div.dv-lvl-2.show-in-map');

        // Necessary elements for handleStatusIndicatorsStatus function
        const buttonAndStatusContainer = document.querySelectorAll('div.dv-lvl-2.recruiter-result-button-wrapper')[0];
        const statusIndicatorsContainer = document.querySelectorAll('div.dv-lvl-2.recruiter-result-status-wrapper')[0];

        const enabledCity = document.querySelectorAll('div.enabled-by-city')[0];
        const enabledSalary = document.querySelectorAll('div.enabled-by-salary')[0];
        const enabledQualification = document.querySelectorAll('div.enabled-by-qualification')[0];

        // Executes initiation
        init();

        // Onpopstate to be triggered when history changes
        window.onpopstate = (e) => {

            console.log('Executing onpopstate');

            let previousState;

            historyOp = historyOp === '' ? 'regular' : historyOp;

            switch (historyOp) {
                case 'replace':
                    window.history.replaceState({ page: indexForHistory }, 'results-interaction-' + indexForHistory, '/file-manager/generate');
                    historyOp = 'regular';
                    break;
                case 'regular':
                    if (window.history.state && window.history.state.page !== undefined && window.history.state.page !== null) {
                        console.log('From array');
                        let index = window.history.state.page;

                        previousState = previousStates[index];
                    } else {
                        if (clickedWithHistoryLoaded && window.history.state && window.history.state.page) {
                            index = window.history.state.page >= indexLimitWhenHistoryLoaded ? window.history.state.page : 0;
                            previousState = previousStates[index];
                        } else if (clickedWithHistoryLoaded && !window.history.state) {
                            index = indexLimitWhenHistoryLoaded - 1;
                            previousState = previousStates[index];
                        } else {
                            console.log('From crafted object');
                            previousState = {
                                city: false,
                                salary: false,
                                qualification: false
                            }
                        }
                        
                    }
                    break;
            }
            
            console.log(previousState);
            if (previousState !== undefined) {
                if (previousState.hasOwnProperty('city') || previousState.hasOwnProperty('salary') || previousState.hasOwnProperty('qualification')) { 
                    byCitySelected = previousState.city ? true : false;
                    bySalarySelected = previousState.salary ? true : false;
                    byQualificationSelected = previousState.qualification ? true : false;

                    handleStatusIndicatorsStatus();    
                    triggerFilterRequest();
                } else {
                    localStorage.setItem('pageStatus', JSON.stringify({
                        previousStates: previousStates,
                        //lastSavedState: lastSavedState
                    }));
                }
            }

            // Boolean to reproduce behavior onbeforeunload if onpopstate is not triggered
            historyFiltered = true;

            /*

            if (lastSavedState === 0) {
                // lastSavedState received from map page (lastSavedState transfer needs to be checked and unified)
                lastSavedState = previousStates.length - 1; // Page status is one less than array length
            } else if (lastSavedState === -1 && window.history.state && window.history.state.page === 1) {
                // Reset here also if history object reached base level (null)
                lastSavedState = 0;
            }

            let previousState;

            if (window.history.state) {

                switch (historyOp) {
                    case 'replace':
                        console.log('Current window page: ' + window.history.state.page);
                        console.log('Last saved state: ' + lastSavedState);

                        console.log('Replacing state number ' + lastSavedState + ' on history object');
                        window.history.replaceState({ page: lastSavedState }, 'results-interaction-' + lastSavedState, '/file-manager/generate');

                        historyOp = 'regular';
                    break;
                    case 'regular':

                        // If current state is greater than previous one, navigation is forward
                        if (window.history.state.page > lastSavedState) {
                            console.log('Forward navigation');

                            requestedStateIndex = lastSavedState + 1;
                            console.log('Requesting state on index: ' + requestedStateIndex);
                            lastSavedState++;
                        // If current state is minor than previous one, navigation is back
                        } else {
                            console.log('Back navigation');
                            console.log('Last saved state: ' + lastSavedState);
                            requestedStateIndex = lastSavedState - 1;
                            console.log('Requesting state on index: ' + requestedStateIndex);
                            lastSavedState--;
                        }

                        previousState = previousStates[requestedStateIndex];
                        console.log('Page status: ' + requestedStateIndex);
                        console.log('Values for state:');
                        console.log(previousState);

                    break;
                }

                


            } else {
                
                if (lastSavedState === 1) {
                    lastSavedState = -1;
                    requestedStateIndex = 0;
                    previousState = previousStates[requestedStateIndex];
                    console.log('Page status: ' + requestedStateIndex);
                    console.log('Values for state:');
                    console.log(previousState);
                }
            }

            */

        }
        
        // Onbeforeunload to be triggered when unloading every page
        window.onbeforeunload = (e) => {


            /*
            console.log(lastSavedState);
            console.log(window.history.state);
            console.log('Returning false');
            return false;*/
/*
            console.log('Executing onbeforeunload');
            console.log(e);
            console.log(e.currentTarget.performance.navigation);
            console.log(e.currentTarget.performance.eventCounts.values());
            const d = e.currentTarget.performance.eventCounts.values();
            for (let e of d) {
                console.log('eee' + ': ' + e)
            }
            console.log(e.currentTarget.performance.getEntries());
            return false;*/
            const navigationType = e.currentTarget.performance.navigation.type; 

            if (navigationType !== 1) {

                const executeOnBeforeUnload = window.history.state && 
                                              window.history.state.page && 
                                              window.history.state.page === previousStates.length - 1 ? true : 
                                                    clickedWithHistoryLoaded ? true : false;
                
                console.log('Keeping history');

                setSecurityCookie();
        
                if (!historyFiltered || executeOnBeforeUnload) {

                    localStorage.setItem('pageStatus', JSON.stringify({
                        previousStates: previousStates,
                        initialStates: initialStates
                    }));

                    /*
                    let previousState = previousStates[previousStates.length - 1];

                    if (previousState !== undefined) {
                        if (previousState && previousState.hasOwnProperty('city') || previousState.hasOwnProperty('salary') || previousState.hasOwnProperty('qualification')) { 
                            byCitySelected = previousState.city ? true : false;
                            bySalarySelected = previousState.salary ? true : false;
                            byQualificationSelected = previousState.qualification ? true : false;

                            handleStatusIndicatorsStatus();    
                            triggerFilterRequest();
                        } else {
                            localStorage.setItem('pageStatus', JSON.stringify({
                                previousStates: previousStates,

                                //adjustHistoryLength: previousState.hasOwnProperty('adjustHistoryLength') ? true : false,
                                //lastSavedState: lastSavedState > 0 ? lastSavedState : previousStates.length - 1
                            }));
                        }
                    }
                    */

                }

            } else {
                console.log('Reloading page. Clearing history');
            }

        };

    </script>
</body>
</html>