<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/465dd91009.js" crossorigin="anonymous"></script>
    <script src="../buffer.js"></script>
    <script defer src="../results.js"></script>
    <link rel="stylesheet" href="../results.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
    <title>RecruitOn - Results</title>
</head>
<body>

    <div class="main-container">
        <div class="dv-lvl-0 recruit-on-header">
            <div class="dv-lvl-1 recruit-on-logo">
                <img class="img-lvl-2 recruit-on-img" src="../RecruitOn-logo.jpg">
            </div>
        </div>

        <div class="dv-lvl-0 recruiter-on-body">

            <div class="dv-lvl-1 page-title">
                <h1 class="he-lvl-2 page-title-header">RESULTS</h1>
            </div>

            <div class="dv-lvl-1 filters-text-container">
                <p class="par-lvl-2 filters-text">You can apply filters here: </p>
            </div>

            <div class="dv-lvl-1 recruiter-result-header">
                <div class="dv-lvl-2 recruiter-result-button-wrapper">
                    <button class="by-city">By City</button>
                    <button class="by-salary">By Salary</button>
                    <button class="by-qualification">By Qualification</button>
                </div>
                <div class="dv-lvl-2 recruiter-result-status-wrapper">
                    <div class="dv-lvl-3 enabled-by-city">[ ENABLED ]</div>
                    <div class="dv-lvl-3 enabled-by-salary">[ ENABLED ]</div>
                    <div class="dv-lvl-3 enabled-by-qualification">[ ENABLED ]</div>
                </div>
            </div>

            <div class="dv-lvl-1 recruiter-result-banner">
                <p>Showing results: unordered</p>
            </div>

            <div class="dv-lvl-1 recruiter-result-items-container">

                {{#if data }}
                   {{#each data}}

                   <div class="dv-lvl-2 recruiter-result-item">
                        <div class="dv-lvl-3 recruiter-result-item-info">

                            <div class="dv-lvl-4 recruiter-result-item-info-data-row">
                                <p class="p-name"><span class="tag">NAME:</span> {{ this.name }}</p>
                                <p class="p-surname"><span class="tag">SURNAME:</span> {{ this.surname }}</p>
                            </div>

                            <div class="dv-lvl-4 recruiter-result-item-info-data-row">
                                <p class="p-mail"><span class="tag">EMAIL:</span> {{ this.mail }}</p>
                                <p class="p-phone"><span class="tag">PHONE:</span> {{ this.phone }}</p>
                            </div>

                            <div class="dv-lvl-4 recruiter-result-item-info-data-row">
                                <p class="p-age"><span class="tag">AGE:</span> {{ this.age }}</p>
                                <p class="p-salary"><span class="tag">SALARY:</span> {{ this.salary }}</p>
                            </div>

                        </div>
                        
                        <div class="dv-lvl-3 recruiter-result-item-qualification">
                            <p class="qualification">QUALIFICATION</p>
                            <p class="p-qualification">{{ this.qualification }}</p>
                        </div>
                    </div>

                    <div class="dv-lvl-2 show-in-map r-{{ this.id }}">
                        <p>Show in map</p>
                        <i class="fas fa-map"></i>
                    </div>

                    {{/each}}

                {{/if}}

            </div>

        </div>

    </div>
</body>
</html>